
body{
    font-family: Arial, Helvetica, sans-serif;
}

#container{
margin: 0 20vw 0 15vw;
text-align: center;
width: 70vw;
border: 5px solid black;
}


#bookList {
    
    margin: 1vh 5vw 1vh 5vw;

  }


  table {
    width: 100%;
    table-layout: fixed;
  }
  
  th, td {
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
  }

  th:nth-child(1),
  td:nth-child(1),
  th:nth-child(2),
  td:nth-child(2),
  th:nth-child(3),
  td:nth-child(3){
    width: 15vw;
  }

  th:nth-child(4),
  td:nth-child(4){
    width: 25px;
  }